<section id="visitanos">
    <div class="titulo">
        <h2>Visítanos</h2>
    </div>
    <div class="info">
        <div class="contenedor">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/ubicacion.jpg?alt=media&token=c9496578-7282-4b40-8dcd-e54047a3b86c" alt="ubicacion">
            </div>
            <article>
                <p>Calle El Dorado</p>
                <p>Cruce con Av.Sur</p>
                <p>Galpon 3-15, Altamira</p>
            </article>
        </div>
    </div>
</section>
