@import "../../../variables.scss";

.contenedor {
  background-color: $base;
  height: 100vh;
  font-family: $fonts;

  .opciones {
    padding-top: 8rem;
    color: $detalles;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      margin-right: 2rem;
      font-size: 1.6rem;
    }

    select {
      outline: none;
      border: none;
      width: 20vw;
      height: 6vh;
      font-family: $fonts;
      font-size: 1.3rem;
      background-color: $blanco;
    }
  }

  h1 {
    color: $blanco;
    font-size: 2rem;
    margin: 3rem 0 2rem 4vw;
  }
}
