<div class="contenedor">
  <div class="opciones">
    <label for="reportes">Reportes:</label>
    <select id="reportes" name="reportes" (change)="cambio($event)">
      <option value="default">Seleccionar...</option>
      <option value="vehiculos">Vehiculos</option>
      <option value="clientes">Clientes</option>
      <option value="mecanicos">Mecanicos</option>
      <!-- <option value="general">General</option> -->
    </select>
  </div>
  <div class="mostrar-reportes">
    <div class="vehiculos" *ngIf="vehiculos">
      <div class="seleccionar">
        <label for="carros">Reporte de vehiculos:</label>
        <select id="carros" (change)="mostrarVehiculo($event)">
          <option value="default">Seleccionar...</option>
          <option *ngFor="let carro of listaVehiculos" value="{{ carro.id }}">{{ carro.placa }}</option>
        </select>
      </div>
      <div class="contenido cont-vehiculos">
        <h2>{{ vehiculo.marca === 'marca' ? '' : vehiculo.marca }}</h2>
        <h4 *ngFor="let cita of listaCitasVehiculo">{{ cita.motivo }}</h4>
        <img src="{{ vehiculo.foto}}" alt="{{ vehiculo.marca === 'marca' ? '' : vehiculo.marca}}">
      </div>
    </div>
    <div class="clientes" *ngIf="clientes">
      <div class="seleccionar">
        <label for="personas">Reporte de clientes:</label>
        <select id="personas" (change)="mostrarDatos($event)">
          <option value="default">Seleccionar...</option>
          <option *ngFor="let cliente of listaClientes" value="{{cliente.id}}">{{ cliente.nombre }}</option>
        </select>
      </div>
      <div class="contenido user-content">
        <div class="user-info">
          <h2>{{ usuario.nombre }}</h2>
          <h4>{{ usuario.cedula === -1 ? '' : usuario.cedula }}</h4>
          <h4>{{ usuario.email }}</h4>
          <h4>{{ usuario.telefono !== 'edite sus datos de perfil' ? usuario.telefono : 'Tlf no registrado' }}</h4>
        </div>
        <p *ngFor="let vehiculo of vehiculosCliente"> <img src="{{ vehiculo.foto }}" alt="{{ vehiculo.marca }}"> {{ vehiculo.marca }} - Placa: {{ vehiculo.placa }}</p>
      </div>
    </div>
    <div class="mecanicos" *ngIf="mecanicos">
      <div class="seleccionar" (change)="mostrarMecanico($event)">
        <label for="meca">Reporte de mecanicos:</label>
        <select id="meca">
          <option value="default">Seleccionar...</option>
          <option *ngFor="let mecanico of listaMecanicos" value="{{mecanico.id}}">{{ mecanico.nombre }}</option>
        </select>
      </div>
      <div class="contenido">
        <h2>{{ mecanico.nombre }}</h2>
        <p *ngFor="let orden of ordenesMecanico">{{ orden.diagnostico }}</p>
      </div>
    </div>
    <!-- <div class="general" *ngIf="general">
      <div class="seleccionar">
        <label for="gen">Reporte general:</label>
        <select id="gen" (change)="mostrarGeneral($event)">
          <option value="default">Seleccionar...</option>
          <option value="marcas">Conteo de marcas</option>
          <option value="modelos">Conteo de modelos</option>
        </select>
      </div>
      <div class="contenido">
        <div>
          <h3 *ngFor="let marca of setMarcas">{{ marca }}: {{ contadorMarca[marca] }}</h3>
        </div>
      </div>
    </div> -->
  </div>
</div>
