@import "../../../variables.scss";

.contenedor {
  background-color: $base;
  height: 100vh;
  font-family: $fonts;

  .opciones {
    padding-top: 8rem;
    color: $detalles;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      margin-right: 2rem;
      font-size: 1.6rem;
    }
  }

  select {
    outline: none;
    border: none;
    width: 20vw;
    height: 6vh;
    font-family: $fonts;
    font-size: 1.3rem;
    background-color: $blanco;
    border-radius: 5px;
  }

  .seleccionar {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      color: $blanco;
      font-size: 2rem;
      margin: 3rem 3rem 2rem 4vw;
    }

    select {
      margin-top: 1.1rem;
      border-radius: 5px;
    }

  }

}

.contenido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: $detalles;
  height: auto;

  h2, h4, p, img {
    margin-top: 2rem;
  }

  h2 {
    color: $blanco;
  }

  h2, h4 {
    margin-inline: 2rem;
  }

  img {
    width: 25rem;
    height: 20rem;
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 12rem;
      height: 10rem;
      margin-inline: 2rem;
    }
  }
}

.cont-vehiculos {
  flex-direction: column;

  h4 {
    margin-top: 2rem;
  }
}
