<div id="cuerpo-auto">
  <div id="nombre-auto">
    <div id="estatus">
      <span class="explicacion-estatus">Placeholder</span>
    </div>
    <h2>Nombre del carro</h2>
  </div>
  <img src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/carro-placeholder.jpg" alt="carro">
  <div id="info-auto">
    <span>Serial del motor: <strong>[XXX]</strong></span>
    <span>Modelo: <strong>[XXX]</strong></span>
    <span>Año: <strong>[XXXX]</strong></span>
    <span>Placa: <strong>[XXX]</strong></span>
    <span class="fecha">Fecha de ingreso: XX/XX/XXXX</span>
  </div>
  <div id="botones">
    <button class="boton1">Desactivar Auto</button>
    <button class="boton2">Editar Auto</button>
  </div>
</div>
