@import "../../../variables.scss";

.contact{
    background-color: #2B333C;
    width: 100% auto;
    height: 20vh;
    color:$blanco;
    text-align: center;
    padding-top: 5vh;



    
}

.tlf-fax{
    
    
}