@import "../../../variables.scss";

.contact{
    background-color: #2B333C;
    width: 100% auto;
    height: 20vh;
    color:$blanco;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 2vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    h3{
       height: 4vh;
       font-size: 3vh;
       margin-bottom: 2vh;
    }
    
    p{
        height: 4vh;
        font-size: 2vh;
        font-weight: bold;
    }
    
}

.tlf-fax{
    height: 6vh;
    width: 40%;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}