@import '../../variables.scss';
//General
footer{
    width: auto;
    height: 7vh;
    background-color: $detalles;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: $fonts;
    padding-right: 6vw;
    color: $blanco;
    font-size: 1vw;

}
//Telefono
@media only screen and (max-width: 768px) and (orientation: portrait) {
    footer{
        display: none;
    }
}
