@import "../../variables.scss";
//General
nav {
  background-color: $blanco;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a,
  h2 {
    font-family: $fonts;
    color: $detalles;
    cursor: pointer;
    z-index: 999;
    margin: 2vw;
  }

  a {
    display: inline-flex;
    font-weight: bold;
    text-decoration: none;
    font-size: 4vh;

    img{
        height: 5vh;
        margin-right: 1vw;
    }
  }

  span {
    color: $base;
    margin-left: 8px;
  }

  &::after {
    content: " ";
    width: 100%;
    background-color: #37a2d4;
    position: absolute;
    height: 2vh;
    top: 10vh;
  }
}

//Telefono
@media only screen and (max-width: 768px) and (orientation: portrait) {
  nav {
    position:static;
    justify-content: center;
    top: 0;

    a {
      font-size: 7vw;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 4vh;
        margin-right: 4vw;
      }
    }

    h2 {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: $detalles;
      margin: 0;
      padding: 1vh;

      i {
        color: $base;
      }
    }
    span {
      margin-left: 12px;
    }

    &::after {
      height: 1.2vh;
      top: 9vh;
    }
  }
}
