<div class="todo">
  <div class="contenedor-drop">
    <div class="clientes drop-down">
      <h2>CLIENTES  <span>({{clientes.length}})</span></h2>
      <i class="fas fa-sort-down" *ngIf="!isOpenClientes" (click)="openClientes()"></i>
      <i class="fas fa-sort-up open" *ngIf="isOpenClientes" (click)="openClientes()"></i>
    </div>
    <div *ngIf="isOpenClientes">
      <div class="lista" *ngFor="let cliente of clientes">
        <div>
          <h3>{{ cliente.nombre }}</h3>
          <button (click)="cambiarStatus(cliente.id)">EDITAR</button>
        </div>
      </div>
    </div>
    <div class="mecanicos drop-down">
      <h2>MECANICOS <span>({{mecanicos.length}})</span></h2>
      <i class="fas fa-sort-down" *ngIf="!isOpenMecanicos" (click)="openMecanicos()"></i>
      <i class="fas fa-sort-up open" *ngIf="isOpenMecanicos" (click)="openMecanicos()"></i>
    </div>
    <div *ngIf="isOpenMecanicos">
      <div class="lista"  *ngFor="let mecanico of mecanicos">
        <div>
          <h3>{{ mecanico.nombre }}</h3>
          <button (click)="cambiarStatus(mecanico.id)">EDITAR</button>
        </div>
      </div>
    </div>
    <div class="gerentes drop-down">
      <h2>GERENTES <span>({{gerentes.length}})</span></h2>
      <i class="fas fa-sort-down" *ngIf="!isOpenGerentes" (click)="openGerentes()"></i>
      <i class="fas fa-sort-up open" *ngIf="isOpenGerentes" (click)="openGerentes()"></i>
    </div>
    <div *ngIf="isOpenGerentes">
      <div class="lista" *ngFor="let gerente of gerentes">
        <div>
          <h3>{{ gerente.nombre }}</h3>
          <button (click)="cambiarStatus(gerente.id)">EDITAR</button>
        </div>
      </div>
    </div>
    <div class="admins drop-down">
      <h2>ADMINS  <span>({{admins.length}})</span></h2>
      <i class="fas fa-sort-down" *ngIf="!isOpenAdmins" (click)="openAdmins()"></i>
      <i class="fas fa-sort-up open" *ngIf="isOpenAdmins" (click)="openAdmins()"></i>
    </div>
    <div *ngIf="isOpenAdmins">
      <div class="lista" *ngFor="let admin of admins">
        <div>
          <h3>{{ admin.nombre }}</h3>
          <button (click)="cambiarStatus(admin.id)">EDITAR</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Pop-up de editar -->
  <div class="popup" [ngClass]="status ? 'popupOpen' : ''">
    <div class="editarUsuario">
      <div class="titulo">
        <h3>{{ usuario.nombre }}</h3>
        <a class="cerrar" (click)="cerrarPopUp()">X</a>
      </div>
      <div class="cambiar">
        <p>Rol: <select id="roles" [(ngModel)]="usuario.rol">
          <option value="Cliente">Cliente</option>
          <option value="Gerente">Gerente</option>
          <option value="Mecanico">Mecanico</option>
          <option value="Admin">Administrador</option>
        </select></p>
        <p>Cedula: <input [(ngModel)]="usuario.cedula" type="number" /></p>
        <p>Tipo Id: <input [(ngModel)]="usuario.tipoID" type="string" /></p>
        <p>Telefono: <input [(ngModel)]="usuario.telefono" type="string" /></p>
        <p>Email: <input [(ngModel)]="usuario.email" type="string" /></p>
        <p>Clave: <input [(ngModel)]="usuario.clave" type="string" /></p>
        <p>Confirmacion: <input [(ngModel)]="usuario.confirmacion" type="string" /></p>
      </div>
      <div class="botones">
        <button class="btn-alt" (click)="editar(usuario)">Editar Datos</button>
        <button class="btn-pri elimUser" (click)="eliminarUser(usuario)">Eliminar Usuario</button>
      </div>
    </div>
  </div>
</div>
