@import "../../../variables.scss";

.todo {
  background-color: $base;
  padding: 25vh;
  padding-bottom: 40vh;
  display: flex;
}

.contenedor-drop {
  width: 100vw;
  height: 100vh;
}

.drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $detalles;
  background-color: $blanco;
  width: 50vw;
  text-align: left;
  padding: 2vh;
  margin-inline: auto;
  margin-bottom: 3vh;

  h2 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 3vw;
  }

  i {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    text-align: right;
    color: $base;
    padding-right: 2vw;
  }
}

.lista {
  color: $detalles;
  width: 50vw;
  text-align: left;
  padding: 2vh;
  margin-inline: auto;
  margin-bottom: 3vh;
  transition: 3s ease-in;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: none;
      outline: none;
      width: 7vw;
      height: 4vh;
      cursor: pointer;
      color: $base;
      font-family: $fonts;
      font-weight: bold;

    }
  }
}
//Popup para editar usuarios
.popup {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: transform 0.2s ease all;
}

.editarUsuario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  width: 50vw;
  background-color: $base;

  .titulo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      color: $blanco;
    }

    .cerrar {
      color: $blanco;
      cursor: pointer;
    }
  }

  button {
    width: 20vw;
    height: 2.4rem;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
  }

  .cambiar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .opciones {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 3rem;

      label, select option {
        color: $detalles;
        font-family: $fonts;
      }

      label {
        font-weight: bold;
      }

      select {
        outline: none;
      }
    }
  }

}
//Clase auxiliar para mostrar el popup
.popupOpen {
  display: flex;
  width: 100vw;
  height: 100vh;
  transform: translate(-12%, -15%);
}

@media screen and (max-width: 1024px) {

  .todo {
    width: 100vw;
    padding: 0;
  }

  .contenedor-drop {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .drop-down {
      width: 80vw;
      margin-inline: 0;
    }

    .lista {
      width: inherit;

      h3 {
        margin-right: 2vw;
      }

      button {
        width: 5rem;
      }
    }
  }

  .popup {

    .editarUsuario {
      width: 80vw;
    }

    h3 {
      font-size: .8rem;
    }

    button {
      font-size: .8rem;
      width: 40vw;
    }

    .cambiar .opciones {
      margin-left: 0;
    }
  }
}
