<!-- SECTION de citas para el perfil de Gerente -->
<section class="citas-gerente">
  <div class="seccion1">

    <div class="citas-dia">
      <h2 class="titulos">
        Citas del día:
        <input type="date" [(ngModel)]="fechaCalendario" />
        <button (click)="getCitasEstado()">Buscar</button>
      </h2>
      <ul class="lista">
        <li *ngFor="let cita of citasByFecha" class="fila">
          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.fecha }}</p>
        </li>
      </ul>
    </div>

    <div class="solicitudes-citas">
      <h2 class="titulos">Citas Entrantes</h2>
      <ul class="lista">
        <li *ngFor="let cita of citasEntrantes" class="fila">
          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.vehiculo }}</p>
          <form [formGroup]="formFecha" (ngSubmit)="asignarFecha(cita)">
            <input type="date" formControlName="fecha"/>
            <input type="time" formControlName="hora"/>
            <button type="submit">
              Asignar fecha
            </button>
          </form>
        </li>
      </ul>
    </div>

  </div>

  <div class="seccion2">

    <div class="solicitudes-citas">
      <h2 class="titulos">Solicitudes de Cambio de Fecha</h2>
      <ul class="lista">
        <li *ngFor="let cita of citasCambiar" class="fila">
          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.vehiculo }} - {{cita.fecha}} - {{cita.hora}}</p>
          <form [formGroup]="formFecha" (ngSubmit)="asignarFecha(cita)">
            <input type="date" formControlName="fecha"/>
            <input type="time" formControlName="hora"/>
            <button type="submit">
              Asignar fecha
            </button>
          </form>
        </li>
      </ul>
    </div>

    <div class="solicitudes-citas">
      <h2 class="titulos">Citas por cerrar</h2>
      <ul class="lista">

        <li *ngFor="let cita of citasCambiar" class="fila">

          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.vehiculo }} - {{cita.fecha}} - {{cita.hora}}</p>

        </li>
      </ul>
    </div>

  </div>
</section>
