<!-- SECTION de citas para el perfil de Gerente -->
<section class="citas-gerente">
  <div class="seccion1">
    <div class="citas-dia">
      <h2 class="titulos">
        Citas del día:
        <input type="date" [(ngModel)]="fechaCalendario" />

        <button (click)="getCitasEstado()">Buscar</button>
      </h2>
      <ul class="lista">
        <li *ngFor="let cita of citasByFecha" class="fila">
          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.fecha }}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="seccion2">
    <div class="solicitudes-citas">
      <h2 class="titulos">Citas Entrantes</h2>
      <ul class="lista">
        <li *ngFor="let cita of citasEntrantes" class="fila">
          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.vehiculo }}</p>
          <!-- SECTION Corregir error del input fecha -->
          <input type="date" [(ngModel)]="newFecha"/>
          <input type="time" min="7:30" max="17:00" [(ngModel)]="newHora"/>
          <button type="submit" (click)="asignarFecha(cita)">
            Asignar fecha
          </button>
        </li>
      </ul>
    </div>
    <div class="estatus-citas">
      <h2 class="titulos">Estado de las citas</h2>
      <ul class="lista">
        <li *ngFor="let cita of citasConfirmar" class="fila">
          <p>
            {{ cita.cliente }} - {{ cita.motivo }} - {{ cita.confirmada }} -
            {{ cita.fecha }}
          </p>
        </li>
      </ul>
    </div>
    <div class="solicitudes-citas">
      <h2 class="titulos">Solicitudes de Cambio de Fecha</h2>
      <ul class="lista">
        <li *ngFor="let cita of citasCambio" class="fila">
          <p>{{ cita.cliente }} - {{ cita.motivo }} - {{ cita.vehiculo }} - {{cita.fecha}} - {{cita.hora}}</p>
          <!-- SECTION Corregir error del input fecha -->
          <input type="date" [(ngModel)]="newFecha"/>
          <input type="time" min="7:30" max="17:00" [(ngModel)]="newHora"/>
          <button type="submit" (click)="asignarFecha(cita)">
            Asignar fecha
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
