@import "../../../variables.scss";

.citas-administrador {
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;



    //Cambios para control de espacio//
    background: rgb(206, 206, 206);
    color: black;
    height: 400vh;
    width: 100%;
    //Cambios para contro de espacio//




}
