.citas-cliente{
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    text-align: center;

    //Cambios para control de espacio//
    background: black;
    color: aliceblue;
    //Cambios para contro de espacio//
}