@import "../../../variables.scss";
.modal{
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($base, 0.7);
    z-index: 998;
    pointer-events: none;

    .modal-content{
        width: 60%;
        height: 78%;
        position: absolute;
        top: 52.5%;
        background-color: $blanco;
        padding: 3vw;
        z-index: 999;
        pointer-events:painted;

        &#registrar{
            right: 50%;  
            transform: translate(50%,-50%);
        }
        &#ingresar{
            left: 50%;  
            transform: translate(-50%,-50%);
        }

        h3{
            text-align: center;
            font-size: 150%;
            color: #000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .FormIngresar{
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            height: 40% auto;

            .input{
                padding: 2%;
                height: 25%;
                width: 100%;
                font-size: 100%;
            }

            input{ 
                margin-bottom: 1%;
                outline: 1px auto $detalles;
            }

            .opciones{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;

                input, button{
                    padding-right: 10%;
                    padding-left: 10%;
                }

                input{
                    margin-top: 8%;
                }
            }
        }

        .FormRegistro{
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            height: 40% auto;

            input{
                padding: 0.8%;
                height: 15%;
                width: 100%;
                margin-bottom: 0.8%;
                outline: 1px auto $detalles;
                font-size: 100%;
            }

            select{
                padding: 0.8%;
                height: 15%;
                width: 20%;
                margin-bottom: 0.8%;
                outline: 1px auto $detalles;
                font-size: 100%;
            }

            .opciones{
                display: flex;
                flex-wrap: nowrap;
            }

            .botones{
                display: flex;  
                justify-content: space-around;

                button{
                    margin-top: 3%;
                    padding-left: 10%;
                    padding-right: 10%;
                }
            }
        }

        #Siguiente{
            margin-top: 5%;
            position: relative;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}