<section class="modal">

    <!--Iniciar Sesión-->
    <div class="modal-content" *ngIf="!registrar" @leftAnimation id="ingresar">
        <div class="content">
            <h3>Iniciar Sesión</h3>
            <form class="FormIngresar" [formGroup]="loginForm" (ngSubmit)="enviarIngreso()">
                <input class="input" type="email" id="user" placeholder="Correo Electronico" required formControlName="email">            
                <input class="input" type="password" id="password" placeholder="Clave"required formControlName="password">
                <div class="opciones">
                    <p>
                        <input type="radio" id="recordar"> Recordar información
                    </p>
                    <button class="btn-alt" id="Ingresar" type="submit">Ingresar</button>
                </div>
            </form>
            <button id="Google" class="btn-alt" (click)="Acceder()">Ingresar con Google</button>
            <button id="Siguiente" class="btn-pri" (click)='registrarScreen()'>¿No tienes una cuenta?</button>
        </div>
    </div>

    <!--Registro-->
    <div class="modal-content" *ngIf="registrar" @rightAnimation id="registrar">
        <div class="content">
            <h3>Regístrate</h3>
            <form class="FormRegistro" [formGroup]="registroForm" (ngSubmit)="enviarRegistro()">
                <label for="displayName">Ingrese su nombre completo:</label>
                <input type="text" id="nombre" placeholder="Ramon Perez" required formControlName="displayName">   
                <label for="identificacion">Ingrese su identificación:</label>
                <div class="opciones">
                    <select name="tipoID" required>
                        <option value="Venezolano">V</option>
                        <option value="Extrangero">E</option>
                        <option value="Juridico">J</option>
                        <option value="Pasaporte">P</option>
                        <option value="Gobierno">G</option>
                    </select>
                    <input type="number" id="ID" placeholder="12345678" required>
                </div>
                <label for="tel">Ingrese su número de telefono:</label>
                <input type="tel" id="telefono" placeholder="04129141135" required>
                <label for="email">Ingrese su Correo Electronico:</label>
                <input type="email" id="correo" placeholder="example@hotmail.com" required formControlName="email">
                <label for="password">Ingrese su contraseña:</label>
                <div class="opciones">
                    <input type="password" id="contraseña" placeholder="Clave" required formControlName="password">
                    <input type="password" id="confirmar" placeholder="Repetir Clave" required>
                </div>   
                <div class="botones">
                    <button class="btn-pri" id="Regresar" type="reset" (click)='ingresarScreen()'>¿Ya tienes una cuenta?</button>
                    <button class="btn-alt" id="Registrar" type="submit" value="Registrar">Registrar</button>
                </div>         
            </form>
        </div> 
    </div>
</section>
