@import "../../../variables.scss";
.modal{
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($base, 0.7);
    z-index: 998;
    pointer-events: none;

    .modal-content{
        min-width: 280px;
        max-width: 1000px;
        position: absolute;
        top: 52.5%;
        background-color: $blanco;
        border-radius: 2%;
        padding: 3vw;
        z-index: 999;
        pointer-events:painted;
        display: flex;
        flex-direction: column;
        align-items: center;

        &#registrar{
            right: 50%;  
            transform: translate(50%,-50%);
        }
        &#ingresar{
            left: 50%;  
            transform: translate(-50%,-50%);
        }

        .content{
            padding: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h3{
            text-align: center;
            font-size: 150%;
            color: rgb(54, 42, 42);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .FormIngresar{
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            .input{
                padding: 2%;
                height: 50px;
                width: 100%;
                font-size: 100%;
                margin-bottom: 5%;
            }

            input{ 
                margin-bottom: 1%;
                outline: 1px auto $detalles;
            }

            .opciones{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;

                input, button, p{
                    font-size: 90%;
                }

                input{
                    margin-top: 8%;
                }

                button{
                    padding: 10px;
                    padding-top: -2px;
                    padding-bottom: -2px;
                }
            }
        }

        .FormRegistro{
            margin-top: 2rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            input{
                padding: 0.8%;
                height: 45px;
                width: 100%;
                margin-bottom: 3%;
                outline: 1px auto $detalles;
                font-size: 90%;
                margin-right: 3% ;
            }

            select{
                padding: 0.8%;
                height: 45px;
                width: 30%;
                margin-bottom: 3%;
                outline: 1px auto $detalles;
                font-size: 100%;
                margin-right: 3% ;
            }

            .opciones{
                display: flex;
                flex-wrap: nowrap;
                
                margin-right: -3% ;
            }

            .botones{
                display: flex;  
                justify-content: space-around;
                flex-wrap: nowrap;
                font-size: 90%;
                width: 100%;
                

                button{
                    margin-top: 3%;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding: 18px;
                }
            }
        }

        #Siguiente{
            margin-top: 5%;
            position: relative;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            font-size: 90%;
            padding: 12.5px;
        }
    }
}