<section class="modal">
    <div class="modal-content" *ngIf="!registrar" @leftAnimation id="ingresar">
        <div class="content">
            <h3>Iniciar Sesión</h3>
            <form class="FormIngresar" action="">
                <input class="input" type="email" id="user" placeholder="Correo Electronico" required>            
                <input class="input" type="password" id="password" placeholder="Clave"required>
                <div class="opciones">
                    <p>
                        <input type="radio" id="recordar"> Recordar información
                    </p>
                    <button class="btn-alt" id="Ingresar" type="submit" [routerLink]="['/perfil']">Ingresar</button>
                </div>
            </form>
            <button id="Google" class="btn-alt" (click)="Acceder()" [routerLink]="['/perfil']">Ingresar con Google</button>
            <button id="Siguiente" class="btn-pri" (click)='registrarScreen()'>¿No tienes una cuenta?</button>
        </div>
    </div>
    
    <div class="modal-content" *ngIf="registrar" @rightAnimation id="registrar">
        <div class="content">
            <h3>Regístrate</h3>
            <form class="FormRegistro" action="">
                <div class="opciones">
                    <input type="text" id="nombre" placeholder="Nombre" required>
                    <input type="text" id="apellido" placeholder="Apellido" required>    
                </div>
                <div class="opciones">
                    <select name="tipoID" required>
                        <option value="Venezolano">V</option>
                        <option value="Extrangero">E</option>
                        <option value="Juridico">J</option>
                        <option value="Pasaporte">P</option>
                        <option value="Gobierno">G</option>
                    </select>
                    <input type="number" id="ID" placeholder="Identificación" required>
                </div>
                <input type="tel" id="telefono" placeholder="Telefono movil" required>
                <input type="email" id="correo" placeholder="Correo Electronico" required>
                <div class="opciones">
                    <input type="password" id="contraseña" placeholder="Clave" required>
                    <input type="password" id="confirmar" placeholder="Repetir Clave" required>
                </div>   
                <div class="botones">
                    <button class="btn-pri" id="Regresar" type="reset" (click)='ingresarScreen()'>¿Ya tienes una cuenta?</button>
                    <button class="btn-alt" id="Registrar" type="submit" value="Registrar" [routerLink]="['perfil']">Registrar</button>
                </div>         
            </form>
        </div> 
    </div>
</section>
