<section class="contact">
    <div class="contenedor">
        <div class="titulo">
            <h2>Contactanos</h2>
        </div>
        <div class="form">
            <p>Puedes escribirnos a nuestro correo a traves del siguiente formulario:</p>
            <form action="">
                <input type="text" name="Nombre" id="Nombre" placeholder="Nombre Completo">
                <input type="email" name="Correo" id="Correo" placeholder="Correo">
                <input type="text" name="Asunto" id="Asunto" placeholder="Asunto">
                <textarea name="Descripcion" id="Descripcion" placeholder="Escribe tu mensaje..."></textarea>
                <button type="submit" class="btn-pri">Enviar</button>
            </form>
        </div>
    </div>    
    <div class="ademas">
        <div class="titulo">
            <h2>Además...</h2>
        </div>
        <div class="tel-fax">
            <h3>Telefono</h3>
            <p>+58 412-123567</p>
            <h3>Fax</h3>
            <p>J-800-4318132</p>
            <p>No olvides que tambien puedes acceder a nuestras redes!</p>
        </div>
    </div>
  </section>