@import "../../../variables.scss";

.contact{
    background-color: #2B333C;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .contenedor{
      width: 65%;
      margin-top: 2vh;

      .titulo{
        color: $blanco;
        display: flex;
        justify-content: center;
        margin-top: 2vh;
      }

      .form{
        background-color: $blanco;
        color: #000;
        border: 2px solid $blanco;
        border-radius: 5px;
        margin: 2vw;
        margin-bottom: 4vw;
        padding: 2vw;

        p{
          margin: 1vw;
        }

        form{
          outline: 2px auto $detalles;
          background-color: $detalles;
          display: flex;
          flex-direction: column;
          padding: 1vw;
          margin: 1vw;

          input{
            padding: 1vh;
            height: 3vw;
            width: 100%;
            margin-bottom: 1vh;
            border: 2px $detalles solid;
            border-radius: 5px;
            font-size: 1vw;
          }

          textarea{
            padding: 1vh;
            height: 6vw;
            width: 100%;
            margin-bottom: 1vh;
            border: 2px $detalles solid;
            border-radius: 5px;
            font-size: 1vw;
          }
        }
      }
    }
    .ademas{
      color: $blanco;
      width: 35%;
    } 
  }