<section class="contact">
    <div class="contenedor">
        <div class="titulo">
            <h2>Contactanos</h2>
        </div>
        <div class="form">
            <p>Puedes escribirnos a nuestro correo a traves del siguiente formulario:</p>
            <form [formGroup]="formContactanos" (ngSubmit)="enviar()">
              <label for="Nombre">Nombre</label>
                <input type="text" name="Nombre" id="Nombre" placeholder="Nombre Completo" formControlName="nombre">
                <label for="Correo">E-mail</label>
                <input type="email" name="Correo" id="Correo" placeholder="E-mail" formControlName="correo">
                <label for="Asunto">Asunto</label>
                <input type="text" name="Asunto" id="Asunto" placeholder="Asunto" formControlName="asunto">
                <label for="Descripcion">Mensaje</label>
                <textarea name="Descripcion" id="Descripcion" placeholder="Escribe tu mensaje..." formControlName="mensaje"></textarea>
                <button type="submit" class="btn-pri" (click)="enviar()">Enviar</button>
            </form>
        </div>
    </div>
    <div class="ademas">
        <div class="caja">
            <div class="titulo">
                <h2>Además...</h2>
            </div>
            <div class="tel">
                <h3>Telefono</h3>
                <p>+58 412-123567</p>
            </div>
            <div class="fax">
                <h3>Fax</h3>
                <p>J-800-4318132</p>
            </div>
            <div class="df">
                <p>No olvides que tambien puedes acceder a nuestras redes!</p>
            </div>
        </div>
    </div>
  </section>
