<section class="fondo">
    <div class="distribucion1">
        <div id="info">
            <img src="{{user.photoURL}}" alt="Foto de perfil">
            <h3>{{user.displayName}}</h3>
            <h4>Cliente</h4>
            <div class="datos">
                <p>{{user.id}}</p>
                <p>{{user.phoneNumber}}</p>
                <p>{{user.email}}</p>
            </div>
            <button class="btn-pri">Editar Perfil</button>
            <button class="btn-alt">Solicitar cambio de clave</button>
        </div>
    </div>
    <div class="distribucion2">
        <div id="vehiculos">
            <h1>Mis Vehículos</h1>
                <div class="imagenes">
                    <a href="#">
                        <img src="../../assets/vehiculo1.png" alt="Vehículo 1">
                        <p>Vehículo 1</p>
                        <p>Placa 1</p>
                    </a>
                    <a href="#">
                        <img src="../../assets/vehiculo2.png" alt="Vehículo 2">
                        <p>Vehículo 2</p>
                        <p>Placa 2</p>
                    </a>
                    <a class="ultimo" href="#">
                        <img src="../../assets/vehiculo3.png" alt="Vehículo 3">
                        <p>Vehículo 3</p>
                        <p>Placa 3</p>
                    </a>
                </div>
            <button class="btn-alt">Modificar</button>
        </div>
        <div id="citas">
            <h1>Citas</h1>
            <table>
                <thead>
                    <tr>
                        <td>Vehículo</td>
                        <td>N° de Orden</td>
                        <td>Estado</td>
                        <td>Descripción</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jeep</td>
                        <td>2567890</td>
                        <td>Por confirmar</td>
                        <td>Daños en el motor</td>
                    </tr>
                    <tr>
                        <td>Hyunday</td>
                        <td>2567845</td>
                        <td>En reparacion</td>
                        <td>Pastillas de freno</td>
                    </tr>
                    <tr>
                        <td>Mustang</td>
                        <td>2567823</td>
                        <td>Entregado</td>
                        <td>Cambio de aceite</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn-pri">Ver Historial</button>
            <button class="btn-alt" (click)="activacion()">Pedir Cita</button>
        </div>
    </div>
</section>

<!-- Popup que se muestra al usuario para pedir su cita -->
<section class="citas-cliente">
  <div class="overlay" *ngIf="activar">
      <div class="popup">
          <a (click)="activacion()" class="btn-cerrar-popup">X</a>
          <h3>Pedir Cita</h3>
          <form [formGroup]="form" (ngSubmit)="enviar($event)">
              <div class="contenedor-inputs">
                  <label for="Vehiculos">Seleciona un Vehiculo:<span>*</span></label>
                  <select id="Vehiculos" formControlName="vehiculo">
                      <option>Mi Vehículo 1</option>
                      <option>Mi Vehículo 2</option>
                      <option>Mi Vehículo 3</option>
                  </select>
                  <label for="Opciones">Seleciona Motivo General:<span>*</span></label>
                  <select id="Opciones" formControlName="motivo">
                    <option>Revisión</option>
                    <option>Reparación</option>
                    <option>Servicio Completo</option>
                    <option>Cambio de Aceite</option>
                    <option>Cambio de Neumaticos</option>
                    <option>Sin especificar</option>
                </select>
                  <label for="descripcion"> Describe tu problema:<span>*</span></label>
                  <textarea id="descripción" formControlName="descripcion"></textarea>
                  <p>Los campos con <span>*</span> son requeridos.</p>
              </div>
              <button type="submit" class="btn-alt" *ngIf="form.valid">Enviar</button>
              <button type="submit" class="btn-alt" id="btn-invalid" *ngIf="form.invalid" [disabled]="form.invalid">Enviar</button>
          </form>
      </div>
  </div>
</section>
