<section id="main-container">
    <div class="distribucion1">
        <div id="info">
            <h3 id="nombre">{{usuario.nombre}}</h3>
            <img src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/user.png?alt=media" alt="Foto de perfil">
            <h4>{{usuario.rol}}</h4>
            <div class="datos">
                <p>Cedula: <input [(ngModel)]="usuario.cedula" type="number" [disabled]="disabled"/></p>
                <p>Telefono: <input [(ngModel)]="usuario.telefono" type="string" [disabled]="disabled"/></p>
                <p>Email: <input [(ngModel)]="usuario.email" type="string" [disabled]="disabled"/></p>
            </div>
            <button class="btn-pri" (click)="editar()">Editar Perfil</button>
            <button class="btn-alt">Solicitar cambio de clave</button>
        </div>
    </div>
    <div class="distribucion2">
        <div id="vehiculos">
            <h3 id="title-vehiculos">Vehículos</h3>
              <div id="vehiculos-container">
                <div class="vehiculo-thumb" *ngFor="let vehiculo of usuario.vehiculos">
                  <img src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/vehiculo1.png?alt=media" alt="">
                  <p>Placa: {{vehiculo.placa}}</p>
                  <p>Modelo: {{vehiculo.modelo}}</p>
                </div>
              </div>
            <button class="btn-alt">Gestionar Vehiculos</button>
        </div>
        <div id="citas">
            <h3 id="title-citas">Citas</h3>
            <table>
                <thead>
                    <tr>
                        <td>Vehículo</td>
                        <td>N° de Orden</td>
                        <td>Estado</td>
                        <td>Descripción</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cita of usuario.citas"></tr>
                </tbody>
            </table>
            <button class="btn-alt" (click)="activacion()">Pedir Cita</button>
        </div>
    </div>
</section>

<!-- Popup que se muestra al usuario para pedir su cita -->
<section class="citas-cliente">
  <div class="overlay" *ngIf="activar">
      <div class="popup">
          <a (click)="activacion()" class="btn-cerrar-popup">X</a>
          <h3>Pedir Cita</h3>
          <form [formGroup]="form" (ngSubmit)="enviar($event)">
              <div class="contenedor-inputs">
                  <label for="Vehiculos">Seleciona un Vehiculo:<span>*</span></label>
                  <select id="Vehiculos" formControlName="vehiculo">
                      <option>Mi Vehículo 1</option>
                      <option>Mi Vehículo 2</option>
                      <option>Mi Vehículo 3</option>
                  </select>
                  <label for="Opciones">Seleciona Motivo General:<span>*</span></label>
                  <select id="Opciones" formControlName="motivo">
                    <option>Revisión</option>
                    <option>Reparación</option>
                    <option>Servicio Completo</option>
                    <option>Cambio de Aceite</option>
                    <option>Cambio de Neumaticos</option>
                    <option>Sin especificar</option>
                </select>
                  <label for="descripcion"> Describe tu problema:<span>*</span></label>
                  <textarea id="descripción" formControlName="descripcion"></textarea>
                  <p>Los campos con <span>*</span> son requeridos.</p>
              </div>
              <button type="submit" class="btn-alt" *ngIf="form.valid">Enviar</button>
              <button type="submit" class="btn-alt" id="btn-invalid" *ngIf="form.invalid" [disabled]="form.invalid">Enviar</button>
          </form>
      </div>
  </div>
</section>
