@import "../../../variables.scss";

#main-container {
  padding: 20vh 0 10vh 0;
  background-color: rgba($base, 0.5);
  display: flex;
  justify-content: center;
  left: 0;

  #nombre, #title-citas, #title-vehiculos {
    margin: -7vh auto 4vh auto;
    text-align: center;
    color: $blanco;
    background-color: $base;
    padding: 5px;
    border-radius: 5px;
  }

  .distribucion1 {
    width: 30vw;
    margin-right: 2vw;
  }

  .distribucion2 {
    width: 60vw;
  }

  #info,
  #vehiculos,
  #citas {
    padding: 20px;
    border-radius: 5px;
  }

  #info {
    background-color: $blanco;
    text-align: center;

    img {
      width: 20vh;
      height: 20vh;
      object-fit: cover;
      object-position: top;
    }

    .datos {
      padding: 3vh;
      text-align: left;
      color: $base;

      p {
        margin: 2vw;
        padding-bottom: 1vh;
        border-bottom: solid $detalles 2px;
      }

      input {
        text-decoration: none;
        border:none;
        border-bottom: 1px solid $base;
        color: $detalles;
        text-align: left;
        padding: 1vh;

        &:disabled {
          border: none;
          outline: none;
          background-color: none;
          color: $base;
        }
      }
    }

    button {
      border-radius: 5px;
      margin: 1vh auto;
      padding: 2vh;
      width: 80%;
    }
    .guardar{
      background-color: rgba(green,.75);
    }
    .cancel{
      background-color: rgba(red,.75);
    }
  }

  #vehiculos {
    background-color: $base;
    margin-bottom: 7vh;
    text-align: center;

    #title-vehiculos{
      color: $base;
      background-color: $blanco;
    }

    #vehiculos-container {
      display: flex;
      justify-content: space-around;

      .vehiculo-thumb {
        width: 30%;
        height: auto;
        overflow: hidden;
        text-align: center;
        color: $blanco;
        font-size: 1.2em;

        img {
          width: 100%;
        }
      }
      .fa-plus{
        color: $blanco;
        cursor: pointer;
        font-size: 4vh;
        padding: 10vh 4vh;

        &:hover{
          color: $detalles;
          font-size: 6vh;
          padding: 9vh 3.15vh;
        }
      }
    }

    button {
      border-radius: 5px;
      margin: 2vh auto 1vh auto;
      padding: 2vh;
    }
  }

  #citas {
    background-color: $blanco;
    justify-content: space-around;
    text-align: center;

    #title-citas{
      background-color: $detalles;
    }

    table {
      margin: 2vh;
      width: 95%;
      justify-content: center;
      text-align: center;
      border-collapse: collapse;
      background-color: #ddd;
      font-family: $fonts;
      outline: 2px $blanco auto;

      td,
      tr {
        padding: 2%;
      }

      thead {
        background-color: $base;
        border-bottom: solid 5px $detalles;
        color: white;
      }

      tbody {
        tr:nth-child(even) {
          background-color: lightgrey;
        }
        tr:hover {
          background-color: $detalles;
        }
      }
      .confirmarFecha{
        margin: 0px;
        padding: 0px;
        select{
          border-radius: 5px;
          padding: .7vh;
          width: 12vw;
        }
        button {
          border-radius: 5px;
          padding: 1.2vh;
          width: 8vw;
        }
      }
    }

    button {
      border-radius: 5px;
      margin: 2vh auto;
      padding: 2vh;
    }
  }
  h4 {
    color: $base;
  }
}

// SECTION DE POPUP PARA PEDIR CITAS
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .popup {
    background: $blanco;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: $fonts;
    padding: 30px;
    text-align: center;
    width: 600px;
    transition: 0.3s ease all;

    .btn-cerrar-popup {
      text-decoration: none;
      font-weight: bold;
      width: 1vw;
      font-size: 1.2vw;
      line-height: 16px;
      display: block;
      margin-left: 96.5%;
      color: #aaa9a9;
      transition: 0.3s ease all;
    }

    .btn-cerrar-popup:hover {
      color: rgb(0, 0, 0);
      cursor: pointer;
    }

    .contenedor-inputs {
      text-align: left;
    }

    h3 {
      font-size: 2.5vw;
      font-weight: bold;
      margin-bottom: 15px;
      color: $base;
    }

    label {
      color: $base;
      font-size: 1.3vw;
    }

    span {
      color: rgba(red,.75);
    }

    .contenedor-inputs select, .contenedor-inputs input {
      height: 3.5vh;
      width: 100%;
      margin-bottom: 10px;
      border: 2px solid $detalles;
      font-family: $fonts;
    }

    .contenedor-inputs textarea {
      width: 100%;
      margin-bottom: 10px;
      height: 120px;
      border: 2px solid $detalles;
      font-size: 15px;
      font-family: $fonts;
      padding-left: 0.5vw;
      padding-top: 0.5vh;
      resize: none;
    }

    p {
      color: #000000;
      font-size: 1.3vw;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    #btn-invalid {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      border: none;
      border-radius: 2px;
      font-size: 15px;
      cursor: pointer;
      transition: 0.3s ease all;

      &:hover {
        background: rgba(41, 117, 161, 0.9);
      }

      &:disabled{
        background: gray;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 2px;
        font-size: 15px;
        transition: 0.3s ease all;
        cursor: initial;
        }
      }
    }
}
