p{
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 35vw;
    font-size: 3vh;
    margin: 3vh;
    text-align: justify;
    font-weight: 400;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 35vw;
    margin: 7vh 3vh;

    button{
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 3vh;
        font-weight: bold;
        width: 40%;
        padding: 1.5vh 1vw;
        border: none;
        border-radius: 0;
        cursor: pointer;

        &.right{
            background-color: #37A2D4;
            color: white;
        }
        &.left{
            color: #2B333C;
        }
    }
}
