<div class="container">
    <section class="left">
        <div class="blue-box">
            <h1>EL MEJOR TALLER EN LA GRAN CARACAS</h1>
            <img src="../../assets/car.png" alt="">
        </div>
    </section>
    <section class="right">
        <p>Automotriz BGMQ se especializa en la reparación y servicio de vehículos de marca Chevrolet, Ford, GM, Chrysler, Jeep y otras marcas Americanas. Estamos ubicado en Altamira, Caracas y abrimos los 7 días de la semana.</p>
        <p>Nuestro equipo profesional de mecánicos te llevaran por todos los pasos para lograr que tu vehículo se encuentre siempre en su más óptimo funcionamiento</p>
        <div class="buttons">
            <button id="ingresar">Ingresar</button>
            <button id="registrar">Registrar</button>
        </div>
    </section>
    
</div>


