<p>Automotriz BGMQ se especializa en la reparación y servicio de vehículos de marca Chevrolet, Ford, GM, Chrysler, Jeep y otras marcas Americanas. Estamos ubicado en Altamira, Caracas y abrimos los 7 días de la semana.</p>
<p>Nuestro equipo profesional de mecánicos te llevaran por todos los pasos para lograr que tu vehículo se encuentre siempre en su más óptimo funcionamiento</p>
<div class="buttons">
    <button class="left">Ingresar</button>
    <button class="right">Crear Cuenta</button>
</div>
