@import "../../../variables.scss";

.calendario {
  //margin-top: 100px; // SOLO PARA PRUEBA DENTRO DE SU SITIO
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 67vh;
  border: 1.5px solid red; // SOLO PARA PRUEBA

  .wrapper-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $fonts;
    width: 100%;
    height: 100%;
    // margin: 1rem;
    // padding: 2.5rem;
    border: solid 1px #eaeaea;
    box-shadow: 0 0 10px #e4e4e4;

    .header-calendar {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      align-content: center;

      h1 {
        width: 100%;
        font-size: 13px;
      }

      button {
        cursor: pointer;
        background-color: transparent;
        border: 0;
      }
    }

    ol {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .day-name {
        background: #eee;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 2px;
        padding: 2rem;
        text-align: center;
      }

      .first-day {
        grid-column-start: var(--first-day-start, 0);
      }

      li {
        font-size: 1.5ch;
        cursor: pointer;
        padding: 2.5rem;
      }

      li:hover {
        font-weight: 600;
        background: $detalles;
      }
    }
  }
}
