<nav>
    <a [routerLink]="['']" id="logotipo"><img src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/logo.svg?alt=media" alt="logo"> AUTOMOTRIZ <span> BGMQ</span></a>
    <ul id="nav-list" *ngIf="navOpen" [@inOutAnimation]>
        <li class="nav-item"><a [href]="'#banner'">Inicio</a></li>
        <li class="nav-item"><a [href]="'#info'">¿Quienes Somos?</a></li>
        <li class="nav-item"><a [href]="'#visitanos'">Visítanos</a></li>
        <li class="nav-item"><a [href]="'#contacto'">Contactanos</a></li>
        <li class="nav-item" *ngIf="user"><a [routerLink]="['/perfil']">Mi cuenta</a></li>
        <li class="nav-item" *ngIf="!user"><a (click)="logged()">Ingresa/Regístrate</a></li>
        <li class="nav-item" *ngIf="user" (click)="Salir()"><a [routerLink]="['']">Cerrar Sesión</a></li>
    </ul>
    <h3 id="btnTelefono" (click)="toggleNav()"><ng-template [ngIf]="navOpen" [ngIfElse]="x"><i class="fas fa-chevron-down"></i></ng-template><ng-template #x (click)="open()"><i class="fas fa-bars"></i></ng-template></h3>
</nav>

<!--Popup Login-->
<app-login *ngIf="Logeado && !user"></app-login>
