@import '../../../variables.scss';
//General
footer{
    width: auto;
    height: 10vh;
    background-color: $detalles;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fonts;
    color: $blanco;
    font-size: 1vw;
    justify-content: space-around;

}

//Telefono
@media only screen and (max-width: 768px) and (orientation: portrait) {
    footer{
        display: none;
    }
}

//Configuración de Logos
.logo-redes{
    display: flex;
    justify-content: space-between;

    img{
        width: 3.5vw;
        height: 5vh;
        padding-inline: 10%;
    }
}


