<footer>
    <div class="logo-redes">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/nbolinaga/automotrizBGMQ" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <p>Copryright 2021 - Automotriz BGMQ | Todos los derechos reservados.</p>
</footer>
