/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/background.svg");
  background-size: cover;
  background-position: bottom;
  background-color: #2b333c;
}
/* width */
::-webkit-scrollbar {
  width: 2vw;
  background-image: url("./assets/road.svg");
  background-position: bottom;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $blanco;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: url("./assets/carTop.svg") 0 0 no-repeat ;
  background-position: center;
  min-height: 40px;
}
