/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

h1,h2,h3,h4,h5,h6,p,a{
  font-family: $fonts;
}

a:visited{
  color: initial;
}

body {
  background-color: $blanco;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 2vw;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/road.svg?alt=media");
  background-position: bottom;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $blanco;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: url("https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/carTop.svg?alt=media") 0 0 no-repeat ;
  background-position: center;
  min-height: 40px;
}

.btn-pri,
.btn-sec,
.btn-alt,
.btn-altbla {
  font-family: $fonts;
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}

.btn-pri {
  background-color: $base;
  color: $blanco;
}
.btn-sec {
  background-color: $blanco;
  color: $detalles;
}
.btn-alt {
  background-color: $detalles;
  color: $blanco;
}
.btn-altbla{
    background-color: $blanco;
    color: $base;
}

