<div class="container">
  <!-- Seccion de Inicio-->
  <section id="banner">
    <h1 id="tagline">
      EL MEJOR TALLER EN LA GRAN <span class="h">CARACAS</span>
    </h1>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/car.png?alt=media"
      alt="carro"
      class="car"
    />
    <img
      class="marcas"
      src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/marcas.png?alt=media"
      alt="marcas"
    />
  </section>

  <!-- Seccion de Quienes Somos -->
  <section id="info">
    <div id="contenedor-cont">
      <h2>¿Quienes Somos?</h2>
      <article>
        <h3>Misión</h3>
        <p>
          En nuestro taller nos caracterizamos por tener un equipo altamente
          cualificado y la utilización de las últimas tecnologías en materia de
          equipamiento. Todo ello con el objetivo de ofrecer a nuestros clientes
          el mejor de los servicios posible para dar respuesta a las necesidades
          de sus vehículos.
        </p>
      </article>
      <article>
        <h3>Visión</h3>
        <p>
          Lo más importante, para nosotros, es transmitir confianza, seguridad,
          garantías y que el cliente tenga toda la información necesaria antes,
          durante y tras la reparación. Es por ello que nos adaptamos a las
          nuevas tecnologías, tanto en instrumentos como en nuestros medios de
          comunicación, para así seguir siendo su primera opción.
        </p>
      </article>
    </div>
    <div id="contenedor-imgs">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/mecanico1.jpg?alt=media"
        alt=""
        class="mecanico-img"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/mecanico2.jpg?alt=media"
        alt=""
        class="center-img"
      />
      <img
        src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/mecanico3.jpg?alt=media"
        alt=""
        class="mecanico-img"
      />
    </div>
  </section>

  <!-- Seccion de Visitanos -->
  <section id="visitanos">
    <h2>Visítanos</h2>
    <div class="info">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/automotrizbgmq.appspot.com/o/mapa.png?alt=media"
        alt="ubicacion"
      />
      <article>
        <p>Calle El Dorado</p>
        <p>Cruce con Av.Sur</p>
        <p>Galpon 3-15, Altamira</p>
      </article>
    </div>
  </section>

  <!-- Seccion de contacto -->
  <section id="contacto">
    <div class="contenedor">
      <div class="titulo">
        <h2>Contactanos</h2>
      </div>
      <div class="form">
        <p>
          Puedes escribirnos a nuestro correo a traves del siguiente formulario:
        </p>
        <form action="">
          <label for="Nombre">Nombre</label>
          <input
            type="text"
            name="Nombre"
            id="Nombre"
            placeholder="Juan Perez"
          />
          <label for="Correo">E-mail</label>
          <input
            type="email"
            name="Correo"
            id="Correo"
            placeholder="juanperez@correo.com"
          />
          <label for="Asunto">Asunto</label>
          <input type="text" name="Asunto" id="Asunto" placeholder="Sobre..." />
          <label for="Descripcion">Mensaje</label>
          <textarea
            name="Descripcion"
            id="Descripcion"
            placeholder="Escribe tu mensaje..."
          ></textarea>
          <button type="submit" class="btn-pri">Enviar</button>
        </form>
      </div>
    </div>
    <div class="ademas">
      <h2>Además...</h2>
      <div class="tel">
        <h3>Telefono</h3>
        <p>+58 412-123567</p>
      </div>
      <div class="fax">
        <h3>Fax</h3>
        <p>J-800-4318132</p>
      </div>
      <div class="df">
        <p>No olvides que tambien puedes acceder a nuestras redes!</p>
      </div>
    </div>
  </section>
</div>
