<div class="container">
  <app-inicio></app-inicio>
  <app-quienes-somos id="quienesSomos"></app-quienes-somos>
  <app-visitanos id="visitanos"></app-visitanos>
  <app-contactanos id="contactanos"></app-contactanos>
    <!-- <section class="der">
          <p>Automotriz BGMQ se especializa en la reparación y servicio de vehículos de marca Chevrolet, Ford, GM, Chrysler, Jeep y otras marcas Americanas. Estamos ubicado en Altamira, Caracas y abrimos los 7 días de la semana.</p>
          <p>Nuestro equipo profesional de mecánicos te llevaran por todos los pasos para lograr que tu vehículo se encuentre siempre en su más óptimo funcionamiento</p>
          <div class="botones">
              <button id="ingresar">Ingresar</button>
              <button id="registrar">Registrar</button>
          </div>
  
          <p class="center">Ubicados en:</p>
          <h3 class="resaltar">Calle El Dorado, Cruce con Av. Sur, Galpón Nº. 3-15, Altamira, Caracas</h3>
          <p class="center">Contactanos a:</p>
          <h3 class="resaltar">tlf: 0412 123-4567<br> fax: 800 431-8132</h3>
          <p class="center">Escribenos a:</p>
          <h3 class="resaltar">contacto@BGMQ.com</h3>
          <img src="../../assets/marcas.png" alt="" class="marcas">
      </section> -->
  </div>
  
