<div class="container">
  <section id="banner">
    <h1 id="tagline">
      EL MEJOR TALLER EN LA GRAN <span class="h">CARACAS</span>
    </h1>
    <img src="../../assets/car.png" alt="" class="car" />
    <h2 id="dir">
      Calle El Dorado<br />
      Cruce con Av.Sur<br />
      Galpón 3-15, Altamira
    </h2>
  </section>
  <article id="info">
    <p>
      En nuestro taller nos caracterizamos por tener un equipo altamente
      cualificado y la utilización de las últimas tecnologías en materia de
      equipamiento. Todo ello con el objetivo de ofrecer a nuestros clientes el
      mejor de los servicios posible para dar respuesta a las necesidades de sus
      vehículos.
    </p>
    <p>
      Lo más importante, para nosotros, es transmitir confianza, seguridad,
      garantías y que el cliente tenga toda la información necesaria antes,
      durante y tras la reparación. Es por ello que realizamos presupuestos
      adaptados a las nuevas tecnologías y los comunicamos a nuestros clientes,
      por vía telefónica, por e-mail, o por Whatsapp.
    </p>
    <div id="contenedor-imgs">
      <img src="../../assets/mecanico1.jpg" alt="" class="mecanico-img" />
      <img src="../../assets/mecanico2.jpg" alt="" class="center-img" />
      <img src="../../assets/mecanico3.jpg" alt="" class="mecanico-img" />
    </div>
  </article>
  <section class="contact">
    <h3>Contactanos a:</h3>
    <div class="tlf-fax">
        <p>Tlf: 0412123-4567</p>
        <p>Fax: 800 4318132</p>
    </div>
    <p id="correo">Contacto@BGMQ.com</p>
</section>
  <!-- <section class="der">
        <p>Automotriz BGMQ se especializa en la reparación y servicio de vehículos de marca Chevrolet, Ford, GM, Chrysler, Jeep y otras marcas Americanas. Estamos ubicado en Altamira, Caracas y abrimos los 7 días de la semana.</p>
        <p>Nuestro equipo profesional de mecánicos te llevaran por todos los pasos para lograr que tu vehículo se encuentre siempre en su más óptimo funcionamiento</p>
        <div class="botones">
            <button id="ingresar">Ingresar</button>
            <button id="registrar">Registrar</button>
        </div>
        
        <p class="center">Ubicados en:</p>
        <h3 class="resaltar">Calle El Dorado, Cruce con Av. Sur, Galpón Nº. 3-15, Altamira, Caracas</h3>
        <p class="center">Contactanos a:</p>
        <h3 class="resaltar">tlf: 0412 123-4567<br> fax: 800 431-8132</h3>
        <p class="center">Escribenos a:</p>
        <h3 class="resaltar">contacto@BGMQ.com</h3>
        <img src="../../assets/marcas.png" alt="" class="marcas">
    </section> -->
</div>
