@import "../../../variables.scss";

#banner {
    background: linear-gradient(to bottom, $base 47%, $blanco 0%);
    margin-top: 10vh;
    padding: 8vw 6vw;
    display: inline-block;
  
    #tagline {
      font-size: 4vw;
      color: $blanco;
      width: 55vw;
      height: 30vh;
      text-align: right;
      float: right;
      padding-top: 1.5vh;
  
      span {
        color: $detalles;
      }
    }
    .marcas{
      width: 30vw;
      height: 26vh ;
      float: right;
      margin: 1.5vw;
    }
    .car{
      transform: scaleX(-1);
      float: left;
      margin: -17vw -4vw -10vw -6vw;
      width: 50%;
      pointer-events: none;
    }
  }