<div class="todo">
    <h2>Ordenes</h2>
    <form class="form-group">
        <label>Marca</label>
        <input type="text">
        <label>Modelo</label> 
        <input  type="text">
        <label>Año</label>
        <input type="number"> 
        <label>Color</label>
        <input type="text">
        <label>Placa</label>
        <input type="text">
        <label>Km de ingreso</label>
        <input type="number">
        <label>Nivel gasolina</label>
        <input type="text">
        <label>Extras</label>
        <input type="text">
        <label>Cauchos de repuesto</label>
        <input type="checkbox">
        <label>Llaves</label>
        <input type="checkbox">
        <label>Gato</label>
        <input type="checkbox">
        <label>Herramientas</label>
        <input type="checkbox">
        <label>Reproductor</label>
        <input type="checkbox">
        <label>Otros</label>
        <input type="text">
        <button type="submit">Enviar Orden</button>
    </form>
</div>