@import "../../../variables.scss";

#citasPorCrear{
  color: $base;
  background-color: $detalles;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
  overflow-x: hidden;
  float: left;

  .lista{
    margin: 5vh;
    width: 20vw;

    img{
      float: left;
      margin-right: 2vw;
    }

    button{
      padding: 1vh 1vw;

      &:disabled{
        cursor: default;
        opacity: .5;
      }
    }
  }
}

#ordenesPorActualizar{
  color: $blanco;
  background-color: $base;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  padding-top: 15vh;
  overflow-x: hidden;
  float: right;

  .lista{
    margin: 5vh;
    width: 20vw;

    img{
      float: left;
      margin-right: 2vw;
    }

    button{
      padding: 1vh 1vw;

      &:disabled{
        cursor: default;
        opacity: .5;
      }
    }
  }
}
.btn-cerrar-popup {
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  width: 1vw;
  font-size: 1.2vw;
  line-height: 16px;
  display: block;
  margin-left: 90%;
  color: #aaa9a9;
  transition: 0.3s ease all;
}

.btn-cerrar-popup:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.popup {
  display: none;
  background-color: rgb(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s ease all;

  .crearOrden,.actualizarOrden{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 70vh;
    transform: translate(-50%, -50%);
    background-color: $blanco;
    border-radius: 5px;

    .datos{
      padding: 2vw;
      display: flex;
      justify-content: space-around;

      p {
        margin: 1vw;
        padding-bottom: 0vh;
      }

      input {
        text-decoration: none;
        border:none;
        border-bottom: 1px solid $base;
        color: $detalles;
        text-align: left;
        padding: 1vh;
      }
    }
  }
  .actualizarOrden{
    height: 80vh;
    transform: translate(-50%, -40%);
    .left{
      p,input{
        font-size: 1.5vh;
      }
    }
    .right{
      textarea{
        height: 10vh;
        width: 20vw;
      }
    }

    button{
      &:disabled{
        opacity: .5;
      }
    }
  }
}

.popupOpen {
  display: block;
}
// .todo {
//     background-color: $base;
//     padding: 25vh;
//     padding-bottom: 40vh;
//     min-height: auto;
//   }

// .form-group{
//     // background-color: $detalles;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// .overlay {
//   background: rgba(0, 0, 0, 0.3);
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .popup {
//     background: $blanco;
//     box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
//     border-radius: 5px;
//     font-family: $fonts;
//     padding: 30px;
//     text-align: center;
//     width: 600px;
//     transition: 0.3s ease all;

//     .btn-cerrar-popup {
//       text-decoration: none;
//       font-weight: bold;
//       width: 1vw;
//       font-size: 1.2vw;
//       line-height: 16px;
//       display: block;
//       margin-left: 96.5%;
//       color: #aaa9a9;
//       transition: 0.3s ease all;
//     }

//     .btn-cerrar-popup:hover {
//       color: rgb(0, 0, 0);
//       cursor: pointer;
//     }
//   }
// }
